[id*="flag-icon-css"] {
    border-radius: var(--borderRadius-medium, 6px);
}

:not(.octicon)>svg {
    &.visualstudiocode>path {
        fill: #007ACC;
    }
}

[data-light-theme*="dark"] {
    :not(.octicon)>svg {
        &.githubcopilot>path,
        &.jsonschema>path,
        &.openai>path
        {
            fill: #ffff;
        }
    }
}
